# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments (if ever inside the repo)
venv/
env/
.venv/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak

# System-specific files
.DS_Store
Thumbs.db

# IDE and Editor directories
.vscode/
.idea/

# ========== MLFlow + Lab 2 Specific ==========

# MLFlow run data and tracking DB
mlruns/
mlflow.db

# Saved data and models
data_cleaned/
images/
models/
*.parquet
*.pkl

# If you save temp models or artifacts here
notebooks/lab2/__pycache__/
notebooks/lab2/save_data/
notebooks/lab2/*.pkl
notebooks/lab2/*.parquet
notebooks/lab2/*.joblib
/data_cleaned


# ========== Lab 5 Specific ==========
sa-private-key.json